.resume-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, #ff9966 50%, #fff 70%);
  text-align: center;
  padding: 20px;
}

.resume-title {
  color: #66d3fa;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.resume-grid {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 3rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80%;
  gap: 2rem;
  width: 80%;
  user-select: none;
}

.res-grid-1 {
  position: relative;
  width: 15vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 30px;
  border: 3px solid #66d3fa;
}

.resume-list {
  padding: 20px;
}

.res-grid-2 {
  width: 60vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 30px;
  border: 3px solid #66d3fa;
  position: relative;
}

.resume-body {
  height: 80vh;
  line-height: 2.7;
  inline-size: 90%;
  padding: 3% 8%;
  position: absolute;
  transform: translate(5%, 0%);
}

.resume-list {
  height: 100vh;
}

.resume-list-container {
  margin-top: 60px;
}

.resume-items {
  padding: 12.5px 0;
  color: #66d3fa;
  cursor: pointer;
}

.resume-items a {
  text-decoration: none;
  color: inherit;
}

.resume-items:hover {
  background-color: #66d3fa;
  color: #fff;
  border-radius: 30px;
}

.resume-download-btn {
  margin-top: 75%;
}

.resume-download-btn button {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  border: 2px solid #66d3fa;
  color: #66d3fa;
  font-size: 100%;
  cursor: pointer;
}

.resume-download-btn button:hover {
  background-color: #66d3fa;
  border: none;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.internship-text {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.reference-text {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 1.5rem;
}
