.navbar {
  background-color: #919191;
  display: flex;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
}

ul {
  display: inline-flex;
  list-style: none;
  padding: 5px;
}

.navbar,
.nav-item {
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 15px;
  color: #66d3fa;
}

.navbar .nav-items .active {
  padding-bottom: 12px;
  cursor: pointer;
  border-bottom: 3px solid var(--primary-color);
}

.navbar .nav-item:hover {
  padding-bottom: 12px;
  cursor: pointer;
  color: #00539cff;
}
