* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eea47fff;
  overflow-wrap: normal;
  overflow-x: hidden;
}

.landing-icons {
  position: absolute;
  right: 50%;
  transform: translate(50%, -200%);
  animation: drop-down-icons 1s cubic-bezier(0.9, 0.13, 0.68, 1.37) 7.5s 1
    forwards;
}

.landing-icons,
a {
  font-size: 38px;
  color: #66d3fa;
  padding: 20px;
}

.landing-icons,
a:hover {
  color: #00539cff;
}

.title-one {
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 40%;
  right: 50%;
  color: #66d3fa;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  transform: translate(50%, -50%);
  font-size: 125px;
  animation: fade-in-one 5s ease-in 1 forwards;
}
.title-two {
  text-align: center;
  line-height: 1.3;
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 40%;
  right: 50%;
  color: #66d3fa;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  transform: translate(50%, -50%);
  font-size: 125px;
  animation: fade-in-two 5s ease 5.5s 1 forwards;
  opacity: 0%;
}

.type-text {
  overflow-x: hidden;
  font-size: 20px;
  font-weight: 700;
  overflow-x: hidden;
  position: absolute;
  top: 53%;
  right: 50%;
  transform: translate(100vw, 0);
  animation: slide-in-text 0.9s ease 7.5s 1 forwards;
  text-align: center;
}

.arrow-scroll {
  position: absolute;
  height: 7rem;
  width: 10rem;
  bottom: 1%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fade-in-scroll 2s ease-in 8.5s 1 forwards;
}

.arrow-text {
  color: #66d3fa;
  font-size: 25px;
  padding: 12px;
  position: absolute;
  bottom: 20%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  animation: fade-in-text 2s ease-in 8.5s 1 forwards;
}

.arrow {
  border: solid #000;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -50%) rotate(45deg);
}
.arrow:nth-child(2) {
  animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes drop-down-icons {
  0% {
    transform: translate3d(50%, -200%, 0);
  }
  100% {
    transform: translate3d(50%, 100%, 0);
  }
}

@keyframes fade-in-one {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-in-two {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slide-in-text {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}
@keyframes fade-in-text {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-scroll {
  100% {
    opacity: 1;
  }
}

@keyframes arrow1 {
  80% {
    opacity: 0;
    top: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}
