:root {
  --primary-color: #66ccff;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

.containers {
  background-color: #4e4f50;
}

.containers > * {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.containers .app-nav {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar > .active {
  border-bottom: 3px solid var(--primary-color);
}
